// $grid-float-breakpoint: 992px;

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "/styles/font-awesome.min.css";

//global color variables
$bg: #f8f8f8;
$ltgrey: #ccc;
$grey: #DDDDDD;
$darkgrey:#AEB6BF;
$medgrey: #555;
$dkgrey: #888;
$black: #222;
$highlight: #ea463d;
$blue:#337ab7;
$white:#FFFFFF;
$black:#000000;
$light-blue:#ADD8E6;
$gold:#F39C12;


body {
     background-image: url("/images/back5.jpg");
      // background-repeat: repeat-x;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-default{
  background-color: #EDEDED !important;
  .nav-bar-container{
    .navbar-header{
      .navbar-brand{
        font-size: 20px;
        font-weight: bold;
        color: $black;
      }
       .live-text{
        margin-left: 18px;
        color: white;
        font-weight: bold;
        background-color: red;
        font-size: 13px;
      }
      .bluerobot-text{
          margin-left: 287px;
          -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
          transition: width 2s;
         -webkit-mask-image: linear-gradient(0deg, white 20px, transparent 26px,  transparent 24px, white 24px);

      }

        img{
          float: right;
          margin-top: 0px;
          width: 56px;
          height: 46px;
          margin-right: 32px;
          border-radius: 30px;
          transition: 1s ease;
      }
      img:hover {
        transition: 1s ease;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
     }
    }
  }
}

.container {
    width: 95% !important;
    // background-color:$white;
    height: 45px;
    padding-top: 8px;
    margin-top: 50px;
    font-family: sans-serif;
    margin: 0 auto;
      .select-option{
        font-size: 20px;
        font-weight: bold;
          .left-select-option{
            float: left;
            background-color: lightgray;
          }
          .right-select-option{
            float: right;
            background-color: lightgray;
          }
      }
    .myfeeds-container{
        .row{
          padding-top: 60px;
          .col-sm-6{
              box-model: border-box;
              border: 3px solid transparent;
              background-clip:padding-box;
            }
          .firstrow-leftfeed{
            background-color:$light-blue;
            height: 240px;
            img{
              float: left;
              width: 115px;
              height: 115px;
              padding-top: 12px;
              border-radius: 53px;
              margin-top: 23px;
            }
            .twitter1-icon{
               position: absolute;
               top: 112px;
               left: 83px;
               font-size: 35px;
            }
            .firstfeed{
              font-size: 14px;
              margin-left: 128px;
              hr {
                  border-top: 2px solid #ccc;
              }
              a{
                padding-left: 5px !important;
                color: darkblue;
              }
            }
          }
          .firstrow-rightfeed{
            background-color: #EFE9F1;
            height: 460px;
            img{
              float: left;
              width: 115px;
              height: 115px;
              padding-top: 12px;
              border-radius: 53px;
              margin-top: 23px;
            }
            .instagram1-icon{
              position: absolute;
              top: 112px;
              left: 104px;
              font-size: 35px;
              color: $gold;
            }
            .firstfeed{
              font-size: 14px;
              margin-left: 128px;
              .instagram-feed1 {
              .instagram-row1-images {
                display: inline-block;
                height: 100px;
                width: 140px;
                padding: 1px;
                color: white;
                margin-right: 5px;
                margin-left: -2px;
                border-radius: 1px;
                animation: shake 7s infinite;
                animation-direction: alternate;
                transition: 1s ease;
                img{
                  filter: grayscale(100%);
                  -webkit-filter: grayscale(100%);
                  -webkit-transition: all 1s ease;
                }
                img:hover {
                border-radius:50%;
                transition: 1s ease;
                filter: grayscale(0%);
                filter: gray;
                -webkit-filter: grayscale(0%);
                filter: none;
                transition: 1s ease;
                }
              }
            }
              hr {
                  border-top: 2px solid #ccc;
              }
              a{
                padding-left: 5px !important;
                color: darkblue;
              }
            }
          }
        }
        .second-row{
          // .col-sm-6{
          //     box-model: border-box;
          //     border: 3px solid transparent;
          //     background-clip:padding-box;
          //   }
          .secondrow-leftfeed{
            background-color: #EFE9F1;
            height: 444px;
            margin-top: -280px;
            img{
              float: left;
              width: 115px;
              height: 115px;
              padding-top: 12px;
              border-radius: 53px;
              margin-top: 23px;
            }
            .instagram2-icon{
              position: absolute;
              top: 112px;
              left: 104px;
              font-size: 35px;
              color: $gold;
            }
            .firstfeed{
              font-size: 14px;
              margin-left: 128px;
              .share-feed1{
                font-size: 12px;
              }

              .instagram-row2-images {
                display: inline-block;
                height: 100px;
                width: 140px;
                padding: 1px;
                color: white;
                margin-right: 5px;
                margin-left: -2px;
                border-radius: 1px;
                animation: shake 7s infinite;
                animation-direction: alternate;
                transition: 1s ease;
                img{
                    transition: 1s ease;
                }
                img:hover {
                  transition: 1s ease;
                  -webkit-transform: scale(0.8);
                  -ms-transform: scale(0.8);
                  transform: scale(0.8);
              }
            }
                .bottom-triangle{
                  position: relative;
                  overflow: hidden;
                  transform: rotate(46deg) skew(10deg,10deg);
                  border-left: 1px solid #000;
                  border-top: 1px solid #000;
                  width: 224px;
                  height: 206px;
                  margin:74px 0px 0px -22px;
                }
              hr {
                  border-top: 2px solid #ccc;
              }
              a{
                padding-left: 5px !important;
                color: darkblue;
              }
            }
          }
          .secondrow-rightfeed{
            background-color: $light-blue;
            height: 225px;
            margin-top: -61px;
            img{
              float: left;
              width: 115px;
              height: 115px;
              padding-top: 12px;
              border-radius: 53px;
              margin-top: 23px;
            }
            .twitter2-icon{
               position: absolute;
               top: 112px;
               left: 95px;
               font-size: 35px;
            }
            .firstfeed{
              font-size: 14px;
              margin-left: 128px;
              hr {
                  border-top: 2px solid #ccc;
              }
              a{
                padding-left: 5px !important;
                color: darkblue;
              }
            }
          }
        }
        .third-row{
          .col-sm-6{
              box-model: border-box;
              border: 3px solid transparent;
              background-clip:padding-box;
            }
          .thirdrow-leftfeed{
            background-color: $light-blue;
            height: 286px;
            margin-top: -60px;
            img{
              float: left;
              width: 115px;
              height: 115px;
              padding-top: 12px;
              border-radius: 53px;
              margin-top: 23px;
            }
            .twitter3-icon{
               position: absolute;
               top: 112px;
               left: 99px;
               font-size: 35px;
            }
            .firstfeed{
              font-size: 14px;
              margin-left: 128px;
              // width: 341px;
              .instagram-row3-images {
                display: inline-block;
                height: 60px;
                width: 74px;
                padding: 6px;
                margin-top: -9px;
                margin-right: 5px;
                margin-left: -8px;
                border-radius: 1px;
                // animation: shake 7s infinite;
                // animation-direction: alternate;
                transition: 1s ease;
                img:hover {
                  -webkit-transform: scale(1.3);
                  -ms-transform: scale(1.3);
                  transform: scale(1.3);
              }
              .post-options{
                padding-top: -7px;
              }
            }
              hr {
                  border-top: 2px solid #ccc;
              }
              a{
                padding-left: 5px !important;
                color: darkblue;
              }
            }
          }
          .thirdrow-rightfeed{
            background-color: $light-blue;
            height: 226px;
            margin-top: -60px;
            img{
              float: left;
              padding-top: 12px;
              width: 115px;
              height: 115px;
              border-radius: 53px;
              margin-top: 23px;
            }
            .twitter4-icon{
               position: absolute;
               top: 112px;
               left: 99px;
               font-size: 35px;
            }
            .firstfeed{
              font-size: 14px;
              margin-left: 128px;
              hr {
                  border-top: 2px solid #ccc;
              }
              a{
                padding-left: 5px !important;
                color: darkblue;
              }
            }
          }
        }
    }
}

.navbar-toggle.pull-left {
  margin-left: 15px;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container {
      .myfeeds-container{
          .row{
            .firstrow-leftfeed{
              .firstfeed{
                .share-feed1{
                  font-size: 12px;
                  margin-top: -20px;
                }
              }
            }
            .firstrow-rightfeed{
              height: 380px;
              .firstfeed{
                .share-feed2{
                  font-size: 12px;
                  margin-top: -20px;
                }
                .instagram-feed1 {
                  .instagram-row1-images {
                    height: 79px;
                    width: 95px;
                  }
               }
              }
            }
          }
          .second-row{
            .secondrow-leftfeed{
              height: 396px;
              margin-top: -202px;
              .firstfeed{
                .share-feed3{
                  font-size: 12px;
                  margin-top: -20px;
                }
                .instagram-row2-images {
                  display: inline-block;
                  height: 79px;
                  width: 87px;
               }
              }
            }
            .secondrow-rightfeed{
              height: 254px;
              margin-top: -61px;
              .firstfeed{
                font-size: 14px;
                margin-left: 128px;
                .share-feed4{
                  font-size: 12px;
                  margin-top: -16px;
                }
            }
          }
        }
          .third-row{
            .thirdrow-leftfeed{
              height: 360px;
              margin-top: -60px;
              .firstfeed{
                .share-feed5{
                  font-size: 12px;
                  margin-top: -20px;
                }
                .instagram-row3-images {
                  height: 60px;
                  width: 74px;
               }
              }
            }
            .thirdrow-rightfeed{
                height: 278px;
                margin-top: -60px;
              .firstfeed{
                .share-feed6{
                  font-size: 12px;
                  margin-top: -16px;
                }
              }
            }
          }
      }
   }
 }


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {


    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
